[Unit]
Description=War3Bot Warcraft III Proxy
After=network.target

[Service]
Type=simple

User=war3bot
Group=war3bot
WorkingDirectory=/etc/War3Bot

ExecStart=/usr/local/War3Bot/bin/War3Bot -p 6116
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
PrivateTmp=false

[Install]
WantedBy=multi-user.target